* {
    box-sizing: border-box;
    vertical-align: middle;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Segoe UI', sans-serif;
    color: #111;
}

.card {
    display: inline-block;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    margin: 5px;
    position: relative;
}

.disabled.card::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, .3);
}